<div class="span6">
  <legend>Shipping Details</legend>    
  <label>First Name</label>
  <div class="controls docs-input-sizes">
    <input type="text" placeholder="" class="span4">
  </div>
  <label>Last Name</label>
  <div>
    <input type="text" placeholder="" class="span4">
  </div>
  <label>Telephone</label>
  <div>
    <input type="text" placeholder="" class="span4">
  </div>  
</div>
<div class="span6">
  <legend>Shipping Address </legend>
  <label>Address 1</label>
  <div>
    <input type="text" placeholder="" class="span4">
  </div>
  <label>Address 2</label>
  <div>
    <input type="text" placeholder="" class="span4">
  </div>
  <label>City</label>
  <div>
    <input type="text" placeholder="" class="span4">
  </div>
  <label>ZIP</label>
  <div>
    <input type="text" placeholder="" class="span4">
  </div>
  <label>Country</label>
  <div>
    <select class="span4">
      <option>United Kingdom</option>
      <option>United States</option>
    </select>
  </div>  
</div>
<%= link_to 'Continue', shopping_cart_checkout_path, class: 'span2 btn btn-primary btn-large pull-right' %>