<fieldset>
  <a href="#collapseOne">
    <h5>Promotion Code / Gift Card</h5>
  </a>
</div>
<div class="control-group">
  <input type="text" placeholder="Enter your code here">                       
</div>  
</fieldset>  
