<div class="span12">
	<div class="row">
	  <div class="accordion" id="accordion2">
	    <%= render 'checkout_shipping' %>   
	    <%= render 'checkout_billing' %>	         
	  </div>
	</div>
  <div class="row">
	  <%= render :partial => 'shopping/carts/cart_items_table' %>
	  <%= render :partial => 'shopping/carts/cart_summary' %>
	</div>
  <a class="btn btn-primary btn-large pull-right" href="#collapse3">Place Order</a>
</div>