<h1> Comment </h1>
<p>
  <strong>Note:</strong>
  <%= @comment.note %>
</p>
<%= link_to "Edit", edit_admin_fulfillment_order_comment_path(order, @comment), :class => 'btn' %>
<%= link_to "Destroy", admin_fulfillment_order_comment_path(order, @comment), :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn' %>
<%= link_to "View All", admin_fulfillment_order_comments_path(order), :class => 'btn' %>
