<p style='text-align:center;text-transform:uppercase;color:#AAA;'>
  <% if @key %>
  If you wish to unsubscribe, Please <%= link_to 'click here', to_be_changed_url(:email => @user.email, :key => @key)%><br/>
  <% end %>
  Copyright &#169; <%= Time.zone.now.year %> <%= I18n.t(:company) %>
</p>