<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
    <body>
      <h1> Welcome to marketstreet.com, <%= @user.display_name %></h1>
      <a href='#{activate_customer_registration_url(:a => @user.perishable_token )}'>
        Click to Activate
      </a>"
      <p>Thanks for joining and have a great day!</p>
      <%= render :partial => 'main_footer' %>
    </body>
</html>
        
 
