<% content_for :head do %>
	<%= stylesheet_link_tag 'base-admin-3' %>
	<%= stylesheet_link_tag 'signin' %>
<% end %>

<%= render 'shared/signup' %>
<div class="pull-right">
	<%= render 'shared/login' %>
</div>