<%= error_messages_for 'supplier' %>
  <fieldset id="admin-supplier-names" class='col-md-12'>
  <label>Name</label>
  <%= form.text_field :name %>
  <label>Email</label>
  <%= form.text_field :email %>
</fieldset>