.row
	.flash_messages
		= raw "<div data-alert class='alert-box warning'> #{notice} <a href='' class='close'>&times;</a></div>" if notice %>
		= raw "<div data-alert class='alert-box alert'>#{alert} <a href='' class='close'>&times;</a></div>" if alert %>