.row
	.flash_messages
		- if notice
			= raw "<div data-alert class='alert-box warning'> #{notice} <a href='' class='close'>&times;</a></div>"
		- if alert 
			= raw "<div data-alert class='alert-box alert'>#{alert} <a href='' class='close'>&times;</a></div>" 