<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <%= link_to site_name, root_path %>
  </div>
    <section class="top-bar-section">
      <%= render 'shared/left_nav' %>
      <%= render 'shared/right_nav' %>      
    </section>
  </nav>