.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .brand= link_to (site_name+' Admin') , root_path
    = render 'layouts/header/admin_left_nav'
    = render 'layouts/header/admin_right_nav'
      