%nav.navbar.navbar-default{:role => "navigation", :class => nav_bar_inverse? ? 'navbar-inverse' : ''}
  .navbar-header
    .navbar-brand= link_to site_name, root_path, :class => 'no_link_style'
  .collapse.navbar-collapse
    = render 'layouts/header/left_nav'
    = render 'layouts/header/right_nav'
    = render 'layouts/header/search_box'    