%nav.navbar.navbar-inverse{:role=>"navigation"}
  .navbar-header
    .navbar-brand= link_to site_name, root_path, :class => 'no_link_style'
  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li= link_to current_user.first_name, class: 'dropdown-toggle'