<div class="span3">
    <!-- start sidebar -->
    <ul class="breadcrumb">
        <li><span>Categories</span></li>
    </ul>
    <div class="span3 product_list">
        <ul class="nav">
            <li>
                <a class="active" href="category.html">Programming (15)</a>
                <ul>
                    <li><a href="listing.html"> - Mobile (2)</a></li>
                    <li><a href="listing.html"> - Web Development (2)</a></li>
                    <li><a href="listing.html"> - Game Prgoramming (4)</a></li>
                </ul>
            </li>

            <li><a href="category.html">Database (1)</a></li>
            <li><a href="category.html">Design (0)</a></li>
            <li><a href="category.html">Networking (3)</a></li>

        </ul>
    </div>
    <!-- end sidebar -->		
</div>