<ul class="breadcrumb">
  <li><span>Categories</span></li>
</ul>
<div class="span3 product_list">
  <ul class="nav">
    <li>
      <a class="active" href="category.html">Home (15)</a>
      <ul>
        <li><a href="listing.html"> - Table (2)</a></li>
        <li><a href="listing.html"> - Chair (2)</a></li>
        <li><a href="listing.html"> - Rug (4)</a></li>
      </ul>
    </li>
    <li><a href="category.html">Art (1)</a></li>
    <li><a href="category.html">Electronics (0)</a></li>
    <li><a href="category.html">Women (3)</a></li>
  </ul>
</div>
