<div class='col-md-9 columns'>
  <h3> <%= UserDecorator.decorate(current_user).display_name %> Store Credits </h3>

  <p id='users-credits' class=''>
      You currently have <%= number_to_currency @store_credit.amount %> worth of credits.
  </p>
</div>
