<div class='span9 columns'>
  <h3> New Address </h3>

  <%= form_for(@address, :url => customer_addresses_path(@address), 
  	html: { class: 'custom'}) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
  <div class=''>
    <%= link_to 'Back to List', customer_addresses_path, :class => 'btn' %>
  </div>
</div>
