<div class='col-md-9'>
<h3> Credit Card </h3>
<p>
	<strong>Name:</strong>
	<%= @credit_card.name %>
</p>

<%= link_to "Edit", edit_customer_credit_card_path(@credit_card), :class => 'btn' %>
<%= link_to "Destroy", customer_credit_card_path(@credit_card), :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn' %>
<%= link_to "View All", customer_credit_cards_path, :class => 'btn' %>
</div>
