<% content_for :head do -%>
  <%= stylesheet_link_tag 'products_page.css' %>
<% end %>

<div id='featured_item' class='nine columns'>

  <div id='interesting_items' >
    <ul id='interesting_items-list'>
      <% @products.each_with_index do |product, i| %>
        <%= render partial: "product_tile", locals: {product: product } %>
      <% end %>
    </ul>
    <div class='clearfix'></div>
  </div>
</div>