%ul.thumbnails
	- @products.each_with_index do |product, i|
		- if [0, 5].include?(i%6)
			= render partial: "product_hero", locals: {product: product }
		- else
			= render partial: "product_tile", locals: {product: product }
